{% extends "base.html" %}

{% block title %}
Edit: {{ patient.last_name }}, {{ patient.first_name }}
{% endblock %}

{% block content %}
<form action="/ermanager/submit_edit/" method="POST">{% csrf_token %}

        {% for field in form %}

        <input type="hidden" name="patient_id" value="{{patient_id}}"/>

        <div class="fieldWrapper">
            <tr>
              {{ field.errors }}
              {{ field.label_tag }} {{ field }}
            </tr>
        </div>
        {% endfor %}
        <input class="btn btn-primary" type="submit" value="Submit"/>
</form>


{% endblock %}
