{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Patient Report{% endblock %}
{% block content %}
<body>
<table class = "table table-striped">
	    	<th> Patient Information </th>	
		<tr><td>First Name </td><td> {{ patient.first_name }}</td>
		<tr><td>Last Name </td> <td> {{ patient.last_name }} </td> 
		<tr><td>Date of Last Visit </td> <td> {{ patient.last_checkup }} </td> 
		<tr><td>Patient Priority </td> <td> {{ patient.priority  }} </td> 
		<tr><td>Patient Summary </td> <td> {{ patient.doctor_notes }} </td> 
</tr>	
	    </table>
	    </body>
	    
	    {% endblock %}
