body {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #eee;
}

.container{
	margin-left:100px;
}

.form-signin {
  max-width: 330px;
  padding: 0px;
  margin: 0 auto;
  margin-top:75px;
}

.form-control-e {
	width: 300px;
	height: 40px;
}

.form-control-p {
	width: 300px;
	height: 40px;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
  font-family: sans-serif;
}
.form-signin-heading{
	margin-top:75px;
	margin-left:100px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  width: 300px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.btn{
   background-color: rgba(255,255,255,1);
   border: solid 2px rgba(0,0,0,1);
   -webkit-border-radius: 7px;
      -moz-border-radius: 7px;
           border-radius: 7px;
   width: 300px;
   padding: 4px;
   display: inline-block;
   font-size: 22px;
   font-family: sans-serif;
   line-height: 22px;
   color: rgba(0,0,0,1);
}


#logo
{
    display: block;
	margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}