{% extends "base.html" %}


{% block content %}
<div class="welcome">
	<div class="container">
		<h1>Welcome to the re-imagined Emergency Room</h1>
		<p>Usable software that helps <b>save lives</b>. It also saves money, too!</p>
	</div>
</div>

	<h2>See everything on the Big Screen</h2>
	<hr>
	<p><a href="/ermanager/bigscreen">The Big Screen</a>
		<p>The big screen is used to see all active
		patience and their room assignments.</p>
	</p>
	<hr>
<a href="{% url 'ermanager:big_screen' %}">	<h2>See everything on the Big Screen</h2></a><br/>

	<p>Insert stuff / images </p>
<hr>
<a href="{% url 'ermanager:doctor_page' %}"><h2>Doctors see it all</h2></a>
	<p>Insert stuff / images </p>
{% endblock %}
